ul li{
	padding-bottom: 1em;
}

#logo{
	font-family: cursive;
	font-size: 1.5em;
}
body.landing #header{
	position: fixed;
	background-color: rgba(5,5,5,.5);
}


.container1 p {
	text-align:;
	font-family: cursive;
	margin-left: 10em;
}


#one.spotlight{
	height: 1200px;
}

#skillslist{
	font-size: 1.25em;
}

#skills{
	color:white;
	color:#225;
}

#obstacles{
	color:white;
}

#future{
	color:white;

}

#h2skills{
	font-size: 2em;
}

p:hover {
    color: white;
}

p{
	color:white;
}
ul{
	color: white;
}
<<<<<<< HEAD

ul li{
	color:white;
}
=======
>>>>>>> origin/master


/* EXTENSION OF WEBSITE */

#newUnder{

}


#reflection{

}

/* EXTENSION OF WEBSITE */






