ul li{
	padding-bottom: 1em;
}

#logo{
	font-family: cursive;
	font-size: 1.5em;
}
body.landing #header{
	position: fixed;
	background-color: rgba(5,5,5,.5);
}


.container1 p {
	text-align:;
	font-family: cursive;
	margin-left: 10em;
}