ul li{
	padding-bottom: 1em;
}

#logo{
	font-family: cursive;
	font-size: 1.5em;
}
body.landing #header{
	position: fixed;
	background-color: rgba(5,5,5,.5);
}

/*element.style{
	    background-color: rgba(5,5,5,.5);
}*/